{% extends "base.html" %}

{% block title %}Wachtwoord wijzigen | Applicaties{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-one-third">
    <h1 class="title">Wachtwoord wijzigen</h1>
    <p class="subtitle">Kies een eigen wachtwoord voordat je verdergaat.</p>
    {% if error %}
    <div class="notification is-danger">{{ error }}</div>
    {% endif %}
    <form method="post" action="/change-password">
      <div class="field">
        <label class="label" for="password">Nieuw wachtwoord</label>
        <div class="control">
          <input
            class="input"
            id="password"
            name="password"
            type="password"
            autocomplete="new-password"
          >
        </div>
      </div>
      <div class="field">
        <label class="label" for="password_confirmation">Nieuw wachtwoord herhalen</label>
        <div class="control">
          <input
            class="input"
            id="password_confirmation"
            name="password_confirmation"
            type="password"
            autocomplete="new-password"
          >
        </div>
      </div>
      <button class="button is-link" type="submit">Wachtwoord opslaan</button>
    </form>
  </div>
</div>
{% endblock %}
