{% extends "base.html" %}

{% block title %}Applicaties{% endblock %}

{% block content %}
<div class="level">
  <div class="level-left">
    <div>
      <h1 class="title">Dashboards</h1>
      <p class="subtitle">Overzicht van beschikbare bedrijfsapplicaties.</p>
    </div>
  </div>
  <div class="level-right">
    <form method="post" action="/logout">
      <button class="button is-light" type="submit">Uitloggen</button>
    </form>
  </div>
</div>

<div class="columns is-multiline">
  {% for application in applications %}
  <div class="column is-one-third">
    <article class="box">
      <div class="level is-mobile">
        <div class="level-left">
          <h2 class="title is-4">{{ application.name }}</h2>
        </div>
        <div class="level-right">
          <span class="tag is-info">{{ application.category }}</span>
        </div>
      </div>
      <p>{{ application.description }}</p>
      <div class="mt-4">
        <a class="button is-link" href="{{ application.url }}">Open</a>
      </div>
    </article>
  </div>
  {% else %}
  <div class="column">
    <div class="notification is-warning">
      Er zijn nog geen applicaties aan je account gekoppeld.
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
