{% extends "base.html" %}

{% block title %}Week {{ week }} | Kippen Registratie{% endblock %}

{% block content %}
<div class="level">
  <div class="level-left">
    <div>
      <h1 class="title">Week {{ week }}</h1>
      <p class="subtitle">Eieren, water en voer voor {{ year }}.</p>
    </div>
  </div>
  <div class="level-right">
    <div class="buttons">
      <a
        class="button is-light"
        href="{{ url_for('week_overview', year=previous_week[0], week=previous_week[1]) }}"
      >
        Vorige week
      </a>
      <a
        class="button is-light"
        href="{{ url_for('week_overview', year=next_week[0], week=next_week[1]) }}"
      >
        Volgende week
      </a>
      <a
        class="button is-success is-light"
        href="{{ url_for('week_export_xlsx', year=year, week=week) }}"
      >
        Excel
      </a>
      <a
        class="button is-danger is-light"
        href="{{ url_for('week_export_pdf', year=year, week=week) }}"
      >
        PDF
      </a>
      <a class="button is-link is-light" href="{{ url_for('dashboard') }}">Overzicht</a>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Dag</th>
        <th>Datum</th>
        <th>Koppel</th>
        <th>Leeftijd</th>
        <th class="has-text-right">1e soort</th>
        <th class="has-text-right">2e soort</th>
        <th class="has-text-right">Dagtotaal</th>
        <th class="has-text-right">Dode hennen</th>
        <th class="has-text-right">Buitennest</th>
        <th class="has-text-right">Eigewicht (g)</th>
        <th class="has-text-right">Water (ml)</th>
        <th class="has-text-right">Voer (g)</th>
        <th>Opmerkingen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      {% set egg_registration = row.egg_registration %}
      {% set feed_water_registration = row.feed_water_registration %}
      <tr>
        <td>{{ row.weekday }}</td>
        <td>{{ row.date }}</td>
        <td>{% if row.flock %}{{ row.flock.flock_name }}{% else %}-{% endif %}</td>
        <td>{% if row.flock_age %}{{ row.flock_age.label }}{% else %}-{% endif %}</td>
        {% if egg_registration %}
        <td class="has-text-right">{{ egg_registration.first_quality_eggs }}</td>
        <td class="has-text-right">{{ egg_registration.second_quality_eggs }}</td>
        <td class="has-text-right">{{ egg_registration.total_eggs }}</td>
        {% else %}
        <td class="has-text-right">-</td>
        <td class="has-text-right">-</td>
        <td class="has-text-right">-</td>
        {% endif %}
        <td class="has-text-right">{{ row.dead_hens_count }}</td>
        <td class="has-text-right">{{ row.outside_nest_egg_count }}</td>
        <td class="has-text-right">
          {% if row.average_egg_weight_grams %}{{ row.average_egg_weight_grams }}{% else %}-{% endif %}
        </td>
        {% if feed_water_registration %}
        <td class="has-text-right">{{ feed_water_registration.water_ml }}</td>
        <td class="has-text-right">{{ feed_water_registration.feed_grams }}</td>
        {% else %}
        <td class="has-text-right">
          -
        </td>
        <td class="has-text-right">
          -
        </td>
        {% endif %}
        <td>
          {% if egg_registration and egg_registration.notes %}{{ egg_registration.notes }}{% endif %}
          {% if egg_registration and egg_registration.notes and feed_water_registration and feed_water_registration.notes %} | {% endif %}
          {% if feed_water_registration and feed_water_registration.notes %}{{ feed_water_registration.notes }}{% endif %}
        </td>
        <td class="has-text-right">
          <div class="buttons are-small is-justify-content-flex-end">
            {% if egg_registration %}
              {% if kippen_user and (kippen_user.is_admin or egg_registration.created_by == kippen_user.username) %}
              <a class="button is-light" href="{{ url_for('egg_registrations_edit', registration_id=egg_registration.id) }}">Eieren</a>
              {% endif %}
            {% else %}
            <a class="button is-light" href="{{ url_for('egg_registrations_new', date=row.date.isoformat()) }}">Eieren</a>
            {% endif %}
            {% if feed_water_registration %}
              {% if kippen_user and (kippen_user.is_admin or feed_water_registration.created_by == kippen_user.username) %}
              <a class="button is-light" href="{{ url_for('feed_water_registrations_edit', registration_id=feed_water_registration.id) }}">Water/voer</a>
              {% endif %}
            {% else %}
            <a class="button is-light" href="{{ url_for('feed_water_registrations_new', date=row.date.isoformat()) }}">Water/voer</a>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">Week totaal</th>
        <th class="has-text-right">{{ totals.first_quality_eggs }}</th>
        <th class="has-text-right">{{ totals.second_quality_eggs }}</th>
        <th class="has-text-right">{{ totals.total_eggs }}</th>
        <th class="has-text-right">{{ totals.dead_hens_count }}</th>
        <th class="has-text-right">{{ totals.outside_nest_egg_count }}</th>
        <th class="has-text-right">
          {% if totals.average_egg_weight_grams %}{{ totals.average_egg_weight_grams }}{% else %}-{% endif %}
        </th>
        <th class="has-text-right">{{ totals.water_ml }}</th>
        <th class="has-text-right">{{ totals.feed_grams }}</th>
        <th colspan="2"></th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
